In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Paamiut,GL,2020-10-27 20:43:22,61.99,-49.67,28.06,85,59,18.28
1,1,Kapaa,US,2020-10-27 20:43:22,22.08,-159.32,82.00,83,75,8.05
2,2,Beloha,MG,2020-10-27 20:43:23,-25.17,45.05,69.78,85,0,12.95
3,3,Arraial Do Cabo,BR,2020-10-27 20:43:23,-22.97,-42.03,77.00,78,0,9.17
4,4,Mar Del Plata,AR,2020-10-27 20:40:42,-38.00,-57.56,64.40,48,0,11.41

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 95

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2020-10-27 20:43:22,22.08,-159.32,82.00,83,75,8.05
2,2,Beloha,MG,2020-10-27 20:43:23,-25.17,45.05,69.78,85,0,12.95
3,3,Arraial Do Cabo,BR,2020-10-27 20:43:23,-22.97,-42.03,77.00,78,0,9.17
4,4,Mar Del Plata,AR,2020-10-27 20:40:42,-38.00,-57.56,64.40,48,0,11.41
6,6,Wamba,NG,2020-10-27 20:43:23,8.93,8.60,74.66,53,0,2.80
7,7,Saint George,US,2020-10-27 20:43:23,37.10,-113.58,59.00,10,1,5.82
8,8,Atuona,PF,2020-10-27 20:43:24,-9.80,-139.03,79.05,72,2,20.56
10,10,Hasaki,JP,2020-10-27 20:39:07,35.73,140.83,51.80,93,20,6.93
12,12,Bintulu,MY,2020-10-27 20:43:24,3.17,113.03,77.00,94,40,3.69
13,13,Minab,IR,2020-10-27 20:43:25,27.15,57.08,69.80,83,0,6.93

In [23]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       6
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1             Kapaa      US     82.00  22.08 -159.32
2            Beloha      MG     69.78 -25.17   45.05
3   Arraial Do Cabo      BR     77.00 -22.97  -42.03
4     Mar Del Plata      AR     64.40 -38.00  -57.56
6             Wamba      NG     74.66   8.93    8.60
7      Saint George      US     59.00  37.10 -113.58
8            Atuona      PF     79.05  -9.80 -139.03
10           Hasaki      JP     51.80  35.73  140.83
12          Bintulu      MY     77.00   3.17  113.03
13            Minab      IR     69.80  27.15   57.08

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,82.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Beloha,MG,69.78,-25.17,45.05,
3,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
4,Mar Del Plata,AR,64.40,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
6,Wamba,NG,74.66,8.93,8.60,Roma Zee Guest House Annex
...,...,...,...,...,...,...
550,Cruz Grande,MX,86.00,16.73,-99.13,Hotel Camila
552,Flinders,AU,57.99,-34.58,150.86,Shellharbour Resort & Conference Centre
553,Porto Belo,BR,77.00,-27.16,-48.55,Costa Verde Beach Hotel
554,Preston,GB,51.80,53.77,-2.72,Legacy Preston International Hotel - managed b...
556,Elesbao Veloso,BR,85.80,-6.20,-42.14,Pousada Paraiso

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))